
body
{
    background: black;
    color: green;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-family: 'Ranchers', cursive;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

#cabecera {
    background: rgb(124, 45, 226);
    box-shadow: 0px 2px 15px 5px rgba(0,0,0,0.75);
    color: rgb(199, 233, 195);
    margin: 0;
    padding: em;
    font-weight: bold;
    padding: 0.5em 0 0.5em 4em;
}

#cabecera #logo {
    width: 20px;
    vertical-align: middle;
    padding: 1em;
}

#cabecera #tagline {
    margin: 1em 0 0 0;
    font-weight: normal;
    font-size: 1.4em;
    
}

#container {
    width: 80%;
    padding: 1px;
    text-align: justify;
    border: 20px solid gainsboro;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#post h1{
    font-size: 40px;
}

#post {
    background: white;
    padding: 1em;
}

#footer {
    background: #662252;
    color: wheat;
    text-align: center;
    padding: 0.5em;
}
