@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&family=Ranchers&display=swap');

body
{
    color: darkblue;
    text-align: center;
    font-family: 'Oleo Script', cursive;
    font-family: 'Ranchers', cursive;
}